@charset "UTF-8";


.globalNavBar {
	background-color: #004085;
}

.navbar-brand {
	color: aliceblue;
}

.nav-item{
	color: cornsilk;
}

.container {
	margin-top: 1em;
}

.activity-table-header {
	background-color: #b3d7ff;
}


.align-center {
	margin: auto;
	text-align: center;
}

