<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script type="text/javascript" src="/js/activity-edit.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<title>暇つぶし編集</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a href="/" class="navbar-brand">暇つぶし探し</a>
			<a href="/activities" class="nav-item nav-link">暇つぶし編集</a>
			<a href="/activity" class="nav-item nav-link">暇つぶし登録</a>
		</nav>
		<div class="container w-50">
			<form method="post" action="/activity" th:object="${activity}" class="form-group">
				<input type="hidden" name="id" th:value="${activity.getId()}"/>
				<table class="table table-bordered">
					<tr class="thead-dark">
						<th>名称</th>
						<td><input type="text" th:value="${activity.getTitle()}" name="title" required class="form-control"/>
					</tr>
					<tr class="thead-dark">
						<th>コスト</th>
						<td><input type="number" th:value="${activity.getCost()}" name="cost" required class="form-control"/>
					</tr>
				</table>
				<br>
				<input type="submit" value="更新" class="btn btn-primary"/>
			</form>
			<form name="deleteForm" method="post" th:action="@{'/activity/' + ${activity.getId()}}" class="form-group">
				<input type="hidden" name="_method" value="DELETE">
				<input type="button" id="deleteButton" value="削除" onclick="deleteConfirm();" class="btn btn-danger">
			</form>
			<a role="button" href="/activities" class="btn btn-light">戻る</a>
		</div>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>