<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>暇つぶし一覧</title>
	</head>
	<body>
		<div th:if="${messages != null}">
			<div th:each="message: ${messages}">
					<p th:text="${message}">
			</div>
		</div>
		<table>
			<tr>
				<th>名称</th>
				<th>コスト</th>
				<th></th>
			</tr>
			<tr th:each="activity: ${activityList}">
 				<td th:text="${activity.getTitle()}">ActivityTitle</td>
				<td th:text="${activity.getCost()}">ActivityCost</td>
 				<td>
 					<a th:href="@{'/activity/' + ${activity.getId()}}">編集</a>
				</td>
			</tr>
		</table>

		<a href="/activity">暇つぶし新規登録</a>

	</body>

	<a href="/">戻る</a>

</html>