<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script type="text/javascript" src="/js/activity-edit.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link href="static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet"></link>
		<title>暇つぶし編集</title>
	</head>
	<body>
		<div th:include="PartTemplate :: common-header"></div>
		<div class="container w-50">
			<form method="post" action="/activity" th:object="${activity}" class="form-group">
				<ul>
					<li th:each="error : ${#fields.detailedErrors()}" class="err" th:text=${error.message} />
				</ul>
				<input type="hidden" name="id" th:value="${activity.getId()}"/>
				<div th:include="PartTemplate :: activity-form" ></div>
				<br>
				<input type="submit" value="更新" class="btn btn-primary"/>
			</form>
			<form name="deleteForm" method="post" th:action="@{'/activity/' + ${activity.getId()}}" class="form-group">
				<input type="hidden" name="_method" value="DELETE">
				<input type="button" id="deleteButton" value="削除" onclick="deleteConfirm();" class="btn btn-danger">
			</form>
			<a role="button" href="/activities" class="btn btn-light">戻る</a>
		</div>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>