<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script type="text/javascript" src="/js/index.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link href="static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet"></link>
		<title>暇つぶし</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm globalNavBar">
			<a href="/" class="navbar-brand">暇つぶし探し</a>
			<a href="/activities" class="nav-item nav-link">暇つぶし編集</a>
			<a href="/activity" class="nav-item nav-link">暇つぶし登録</a>
		</nav>
		<div class="container">
			<div class="row justify-content-md-center">
				<form method="post" action="suggestActivity" class="form-group center">
					<h3 class="align-center">予算はいくら？</h3>
 					<div class="input-group">
						<input type="number" name="budget" id="budgetInput" maxlength="10" class="form-control"/>
						<span class="input-group-addon">円</span>
					</div>
					<br>
					<div class="align-center">
	 					<input type="button" onclick="roulette()" value="このくらい" class="btn btn-primary"/>
					</div>
				</form>
			</div>
			<div id="resultDiv" style="visibility:hidden" class="justify-content-md-center w-50 align-center ">
				<div class="row my-3">
					<h3 class="align-center">オススメな暇つぶしは</h3>
				</div>
				<div class="row">
					<h2 id="suggestedActivityName" class="align-center"></h2>
					<div style="visibility:hidden" id="candidateList" th:value="${activityNames}" class="row"></div>
				</div>
				<div class="row">
					<h4 class="align-center">予算：<span id="suggestedActivityCost"></span>円</h4>
				</div>
			</div>
		</div>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>