<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet"></link>
	<title>Part Template</title>
</head>
<body>
	<div th:fragment="common-header">
		<nav class="navbar navbar-expand-sm globalNavBar">
			<a href="/" class="navbar-brand">暇つぶし探し</a>
			<a href="/activities" class="nav-item nav-link">暇つぶし編集</a>
			<a href="/activity" class="nav-item nav-link">暇つぶし登録</a>
		</nav>
	</div>

	<div th:fragment="activity-form">
		<table class="table table-bordered">
			<tr>
				<th class="activity-table-header">名称</th>
				<td><input type="text" th:value="${activity.getTitle()}" maxlength="30" name="title" required class="form-control"/>
			</tr>
			<tr>
				<th class="activity-table-header">コスト</th>
				<td><input type="number" th:value="${activity.getCost()}" maxlength="10" name="cost" required class="form-control"/>
			</tr>
		</table>
	</div>

</body>
</html>